

  <div class="bv-section-insider"  style="background-image: url('{{site.img}}/content/insidertipps/hero.jpg'); background-size: cover; background-position: center center">

    <div class="container vpad--xxxxl text--left text--xxl text--white">

      <div class="container container--no-padding text--center">
        <h2 class="sub-title--lg bv-title-divider">Typisch Italien</h2>
        <h1 class="banner-title ">Unsere Geheimtipps</h1>

        <div class="space--xl"></div>
  <a href="{{site.baseurl}}/insidertipps" class="btn btn--i-red" >Inspirieren lassen</a>
      </div>
  </div>


</div>
