<div class="{{include.block}}">
  <a class="{{include.block}}-link" href="https://www.secretescapes.de/aktuelle-angebote?utm_source=SE&utm_medium=hub&utm_campaign=portugal_DE_2019">Aktuelle Angebote</a>
  <a class="{{include.block}}-link" href="https://www.secretescapes.de/top-destinations?utm_source=SE&utm_medium=hub&utm_campaign=portugal_DE_2019">Beliebte Reiseziele</a>
  <a class="{{include.block}}-link" href="https://www.secretescapes.de/strandurlaub/filter?utm_source=SE&utm_medium=hub&utm_campaign=portugal_DE_2019">Strandurlaub</a>
  <a class="{{include.block}}-link is-current" href="{{ site.baseurl }}">{{ site.title }}</a>
</div>
