// background styles

.bg {
  &--white { background-color: $white; }
  &--light { background-color: $grey-lightest; }
  &--i-blue { background-color: $i-blue; }
  &--i-yellow { background-color: $i-yellow; }
  &--i-red { background-color: $i-red; }
  &--i-green { background-color: $i-green; }
  &--i-black { background-color: $i-black; }
  &--dark  { background-color: $grey-dark; }
  &--img   { @include background-attributes; }
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    @include background-attributes;
    background-color: $grey-darker;
  }
}
