.btn {

  font-family: $font-title-01;
  position: relative;
  display: inline-block;
  padding: $s2 $s5;
  color: $white;
  font-weight: 700;
  font-size: $s2/1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.33;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  &--sm { padding: $s1 $s4; font-size: $s-2; }
  &--lg { padding: $s3 $s8; font-size: $s-1; }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; } }

  &--i-blue { background-color: $i-blue; font-size: 13px;
    &:hover { background-color: $i-blue; }}

  &--i-yellow { background-color: $i-yellow; color: $black;
    &:hover { background-color: $i-yellow; }}

  &--i-red { background-color: $i-red; font-size: 13px;
    &:hover { background-color: $i-red; }}

  &--i-green { background-color: $i-green;
    &:hover { background-color: $i-green; }}

  &--outline {
    color: inherit;
    &:before {
      // button border within original padding
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 1px;
      border-style: solid;
      border-radius: inherit;
      @include transition;
    }
  }
  &--outline-blue {
    border: 1px solid $i-blue;
    color: $i-blue;
    &:hover {
      background-color: $i-blue;
      color: $white;
    }
  }
  &--outline-orange {
    &:before { border-color: $orange; }
    &:hover {
      background-color: $orange;
      &:before { border-color: $orange; }
    }
  }
}
