/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%; }

.hidden {
  display: none;
  visibility: hidden;
  height: 0 !important;
  overflow: hidden; }

*,
*:after,
*:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0); }

img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

html {
  font-size: 81.25%; }
  @media (min-width: 450px) {
    html {
      font-size: 87.5%; } }
  @media (min-width: 800px) {
    html {
      font-size: 92.5%; } }

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-weight: 300;
  line-height: 1.55;
  letter-spacing: .015rem;
  color: #47484a;
  background-color: #fff; }

em {
  font-style: italic; }

strong {
  font-weight: 600; }

sup {
  font-size: 0.8rem;
  line-height: 0;
  vertical-align: super; }

a[href]:not([class]) {
  color: #ff8c00;
  transition: all 0.25s ease; }
  a[href]:not([class]):hover {
    color: #d66000; }

li {
  list-style-position: outside;
  margin-left: 1.2rem; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

hr {
  border: 0;
  height: 1px;
  background-color: #f1f1f1;
  margin: 1.2rem 0; }

.text {
  font-family: "brother-1816", "Helvetica Neue", sans-serif; }
  .text--xxxxl {
    font-size: 2.2rem;
    line-height: 1.6;
    letter-spacing: 0; }
  .text--xxxl {
    font-size: 1.9rem;
    line-height: 1.6;
    letter-spacing: 0; }
  .text--xxl {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0; }
  .text--xl {
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0; }
  .text--lg {
    font-size: 1.15rem;
    letter-spacing: 0; }
  .text--md {
    font-size: 1rem;
    letter-spacing: 0; }
  .text--sm {
    font-size: .9rem; }
  .text--italic {
    font-style: italic; }
  .text--light {
    font-weight: 200; }
  .text--normal {
    font-weight: 400; }
  .text--medium {
    font-weight: 500; }
  .text--bold {
    font-weight: 600; }
  .text--bolder {
    font-weight: 700; }
  .text--wide-kern {
    letter-spacing: .25em; }
  .text--wide-kern-lg {
    letter-spacing: .5em; }
  .text--upper {
    text-transform: uppercase; }
  .text--serif {
    font-family: "phaistos", serif; }
  .text--serif-italic {
    font-family: "phaistos", serif;
    font-size: 1.65rem;
    font-style: italic; }
  .text--serif-lg {
    font-family: "phaistos", serif;
    font-size: 3rem; }
  .text--serif-md {
    font-family: "phaistos", serif;
    font-size: 2.2rem; }
  .text--white {
    color: #f1f1f1; }
  .text--black {
    color: #47484a; }
  .text--bv-red {
    color: #e9152c; }
  .text--bv-blue {
    color: #0058a5; }
  .text--bv-beige {
    color: #baa36c; }
  .text--left {
    text-align: left; }
  .text--right {
    text-align: right; }
  .text--center {
    text-align: center; }
  .text--justify {
    text-align: left; }
  @media (min-width: 650px) {
    .text--bp-left {
      text-align: left; }
    .text--justify {
      text-align: justify; }
    .text--bp-right {
      text-align: right; }
    .text--bp-center {
      text-align: center; } }

.title {
  font-family: "brother-1816", "Helvetica Neue", sans-serif;
  line-height: 1.1em; }
  .title--xxxl {
    font-size: 4.29981696rem; }
  .title--xxl {
    font-size: 3.5831808rem; }
  .title--xl {
    font-size: 2.985984rem; }
  .title--lg {
    font-size: 2.48832rem; }
  .title--md {
    font-size: 2.0736rem; }
  .title--sm {
    font-size: 1.728rem; }
  .title--xs {
    font-size: 1.44rem; }
  .title--xxs {
    font-size: 1.2rem; }
  .title--xxxs {
    font-size: 1rem; }
  @media (min-width: 650px) {
    .title--xxxl {
      font-size: 5.159780352rem; }
    .title--xxl {
      font-size: 4.29981696rem; }
    .title--xl {
      font-size: 3.5831808rem; }
    .title--lg {
      font-size: 2.985984rem; }
    .title--md {
      font-size: 2.48832rem; }
    .title--sm {
      font-size: 2.0736rem; }
    .title--xs {
      font-size: 1.728rem; }
    .title--xxs {
      font-size: 1.44rem; }
    .title--xxxs {
      font-size: 1.2rem; } }

.sub-title {
  font-family: "brother-1816", "Helvetica Neue", sans-serif;
  line-height: 1.2em;
  font-size: 2.0736rem; }
  .sub-title--lg {
    font-size: 1.728rem;
    line-height: 1.4em;
    font-weight: 700;
    text-transform: uppercase; }
  .sub-title--sm {
    font-size: 1.44rem; }
  @media (min-width: 450px) {
    .sub-title {
      font-size: 2.0736rem; }
      .sub-title--lg {
        font-size: 2.985984rem;
        line-height: 1.2em;
        letter-spacing: .04em;
        font-weight: 600; }
      .sub-title--sm {
        font-size: 1.2rem; } }

.core-title {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  letter-spacing: -.02em; }
  .core-title--xxxl {
    font-size: 4.29981696rem;
    line-height: 1.1; }
  .core-title--xxl {
    font-size: 3.5831808rem;
    line-height: 1.1; }
  .core-title--xl {
    font-size: 2.985984rem;
    line-height: 1.2; }
  .core-title--lg {
    font-size: 2.48832rem;
    line-height: 1.25; }
  .core-title--md {
    font-size: 2.0736rem;
    line-height: 1.35; }
  .core-title--sm {
    font-size: 1.728rem;
    line-height: 1.35; }
  .core-title--xs {
    font-size: 1.44rem;
    line-height: 1.35; }
  .core-title--xxs {
    font-size: 1.2rem;
    line-height: 1.4; }
  .core-title--xxxs {
    font-size: 1rem;
    line-height: 1.45; }
  @media (min-width: 650px) {
    .core-title--xxxl {
      font-size: 5.159780352rem;
      line-height: 1.1; }
    .core-title--xxl {
      font-size: 4.29981696rem;
      line-height: 1.175; }
    .core-title--xl {
      font-size: 3.5831808rem;
      line-height: 1.2; }
    .core-title--lg {
      font-size: 2.985984rem;
      line-height: 1.2; }
    .core-title--md {
      font-size: 2.48832rem;
      line-height: 1.3; }
    .core-title--sm {
      font-size: 2.0736rem;
      line-height: 1.3; }
    .core-title--xs {
      font-size: 1.728rem;
      line-height: 1.3; }
    .core-title--xxs {
      font-size: 1.44rem;
      line-height: 1.35; }
    .core-title--xxxs {
      font-size: 1.2rem;
      line-height: 1.4; } }

.banner-title {
  font-family: "phaistos", serif;
  letter-spacing: .02em;
  font-size: 2.48832rem;
  line-height: 1.1em;
  text-transform: uppercase; }
  .banner-title--md {
    font-size: 2.985984rem; }
  .banner-title--lg {
    font-size: 3.5831808rem; }
  @media (min-width: 330px) {
    .banner-title {
      font-size: 2.985984rem; }
      .banner-title--md {
        font-size: 3.5831808rem; }
      .banner-title--lg {
        font-size: 4.29981696rem; } }
  @media (min-width: 450px) {
    .banner-title {
      font-size: 2.985984rem; }
      .banner-title--md {
        font-size: 4.29981696rem; }
      .banner-title--lg {
        font-size: 5.159780352rem; } }
  @media (min-width: 800px) {
    .banner-title {
      font-size: 5.159780352rem; }
      .banner-title--md {
        font-size: 5.159780352rem; }
      .banner-title--lg {
        font-size: 7.4300837069rem; } }
  @media (min-width: 970px) {
    .banner-title {
      font-size: 5.159780352rem; }
      .banner-title--md {
        font-size: 6.1917364224rem; }
      .banner-title--lg {
        font-size: 7.4300837069rem; } }

.serif-title {
  font-family: "phaistos", serif;
  font-weight: 300;
  letter-spacing: -.02em;
  color: #0058a5;
  font-size: 2.985984rem; }
  @media (min-width: 450px) {
    .serif-title {
      font-size: 4.29981696rem; } }
  @media (min-width: 800px) {
    .serif-title {
      font-size: 4.29981696rem;
      letter-spacing: 1px;
      line-height: 1em; } }

.content-spacing * + p,
.content-spacing * + ul,
.content-spacing * + ol {
  padding-top: 0.8rem; }
.content-spacing li + li {
  padding-top: 0.512rem; }
.content-spacing ul,
.content-spacing ol {
  padding-top: 1.44rem;
  padding-bottom: 0.64rem; }
.content-spacing p + .title {
  padding-top: 2.48832rem; }
.content-spacing .title + p {
  padding-top: 0.512rem; }
.content-spacing .title + .title {
  padding-top: 0;
  padding-bottom: 0.512rem; }
.content-spacing p + .core-title {
  padding-top: 2.48832rem; }
.content-spacing .core-title + p {
  padding-top: 0.32768rem; }
.content-spacing .core-title + .core-title {
  padding-top: 0;
  padding-bottom: 0.512rem; }
.content-spacing .sub-title,
.content-spacing .sub-title {
  padding: 0; }

.vpad--xxxxl {
  padding-top: 10.6993205379rem;
  padding-bottom: 10.6993205379rem; }
.vpad--xxxl {
  padding-top: 7.4300837069rem;
  padding-bottom: 7.4300837069rem; }
.vpad--xxl {
  padding-top: 5.159780352rem;
  padding-bottom: 5.159780352rem; }
.vpad--xl {
  padding-top: 3.5831808rem;
  padding-bottom: 3.5831808rem; }
.vpad--lg {
  padding-top: 2.48832rem;
  padding-bottom: 2.48832rem; }
.vpad--md {
  padding-top: 1.728rem;
  padding-bottom: 1.728rem; }
.vpad--sm {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }
.vpad--xs {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }
.vpad--xxs {
  padding-top: 0.512rem;
  padding-bottom: 0.512rem; }
@media (min-width: 650px) {
  .vpad--xxxxl {
    padding-top: 12.8391846455rem;
    padding-bottom: 12.8391846455rem; }
  .vpad--xxxl {
    padding-top: 8.9161004483rem;
    padding-bottom: 8.9161004483rem; }
  .vpad--xxl {
    padding-top: 6.1917364224rem;
    padding-bottom: 6.1917364224rem; }
  .vpad--xl {
    padding-top: 4.29981696rem;
    padding-bottom: 4.29981696rem; }
  .vpad--lg {
    padding-top: 2.985984rem;
    padding-bottom: 2.985984rem; }
  .vpad--md {
    padding-top: 2.0736rem;
    padding-bottom: 2.0736rem; }
  .vpad--sm {
    padding-top: 1.44rem;
    padding-bottom: 1.44rem; }
  .vpad--xs {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .vpad--xxs {
    padding-top: 0.64rem;
    padding-bottom: 0.64rem; } }

.space--xxxxl {
  padding-top: 7.4300837069rem; }
.space--xxxl {
  padding-top: 5.159780352rem; }
.space--xxl {
  padding-top: 3.5831808rem; }
.space--xl {
  padding-top: 2.48832rem; }
.space--lg {
  padding-top: 1.728rem; }
.space--md {
  padding-top: 1.2rem; }
.space--sm {
  padding-top: 0.8rem; }
.space--xs {
  padding-top: 0.512rem; }
.space--xxs {
  padding-top: 0.32768rem; }
@media (min-width: 650px) {
  .space--xxxxl {
    padding-top: 8.9161004483rem; }
  .space--xxxl {
    padding-top: 6.1917364224rem; }
  .space--xxl {
    padding-top: 4.29981696rem; }
  .space--xl {
    padding-top: 2.985984rem; }
  .space--lg {
    padding-top: 2.0736rem; }
  .space--md {
    padding-top: 1.44rem; }
  .space--sm {
    padding-top: 1rem; }
  .space--xs {
    padding-top: 0.64rem; }
  .space--xxs {
    padding-top: 0.4096rem; } }

.boxpad--xxxxl {
  padding: 5.159780352rem; }
.boxpad--xxxl {
  padding: 3.5831808rem; }
.boxpad--xxl {
  padding: 2.48832rem; }
.boxpad--xl {
  padding: 1.728rem; }
.boxpad--lg {
  padding: 1.2rem; }
.boxpad--md {
  padding: 0.8rem; }
.boxpad--sm {
  padding: 0.512rem; }
.boxpad--xs {
  padding: 0.32768rem; }
.boxpad--xxs {
  padding: 0.2097152rem; }
@media (min-width: 650px) {
  .boxpad--xxxxl {
    padding: 6.1917364224rem; }
  .boxpad--xxxl {
    padding: 4.29981696rem; }
  .boxpad--xxl {
    padding: 2.985984rem; }
  .boxpad--xl {
    padding: 2.0736rem; }
  .boxpad--lg {
    padding: 1.44rem; }
  .boxpad--md {
    padding: 1rem; }
  .boxpad--sm {
    padding: 0.64rem; }
  .boxpad--xs {
    padding: 0.4096rem; }
  .boxpad--xxs {
    padding: 0.262144rem; } }

.section-spacing .bob + .bob {
  padding-top: 4.29981696rem; }
.section-spacing .container + .container {
  padding-top: 7.4300837069rem; }

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.44rem;
  padding-right: 1.44rem; }
  @media (min-width: 450px) {
    .container {
      padding-left: 2.0736rem;
      padding-right: 2.0736rem; } }
  .container--100 {
    max-width: 100%; }
  .container--xxl {
    max-width: 970px; }
  .container--xl {
    max-width: 800px; }
  .container--lg {
    max-width: 650px; }
  .container--md {
    max-width: 450px; }
  .container--sm {
    max-width: 330px; }
  .container--left {
    margin-left: 0;
    margin-right: auto; }
  .container--right {
    margin-left: auto;
    margin-right: 0; }
  .container--no-padding {
    padding-left: 0;
    padding-right: 0; }

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: -1.44rem;
  margin-left: -1.44rem; }
  .row .col {
    flex: 1 1 100%; }
  .row--justify {
    justify-content: space-between; }
  .row--valign-bottom {
    align-items: flex-end; }
  .row--valign-center {
    align-items: center; }
  @media (min-width: 650px) {
    .row--6-6 > .col {
      flex: 0 0 50%;
      max-width: 50%; }
    .row--4-4-4 > .col {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row--3-3-3-3 > .col {
      flex: 0 0 25%;
      max-width: 25%; } }
  .row--constant-6-6 > .col {
    flex: 0 0 50%;
    max-width: 50%; }
  .row--constant-4-4-4 > .col {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .row--constant-3-3-3-3 > .col {
    flex: 0 0 25%;
    max-width: 25%; }
  @media (min-width: 330px) {
    .row--sm-6-6 > .col {
      flex: 0 0 50%;
      max-width: 50%; }
    .row--sm-4-4-4 > .col {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row--sm-3-3-3-3 > .col {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 450px) {
    .row--md-6-6 > .col {
      flex: 0 0 50%;
      max-width: 50%; }
    .row--md-4-4-4 > .col {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row--md-3-3-3-3 > .col {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 650px) {
    .row--lg-6-6 > .col {
      flex: 0 0 50%;
      max-width: 50%; }
    .row--lg-4-4-4 > .col {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row--lg-3-3-3-3 > .col {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 800px) {
    .row--xl-6-6 > .col {
      flex: 0 0 50%;
      max-width: 50%; }
    .row--xl-4-4-4 > .col {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row--xl-3-3-3-3 > .col {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 970px) {
    .row--xxl-6-6 > .col {
      flex: 0 0 50%;
      max-width: 50%; }
    .row--xxl-4-4-4 > .col {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row--xxl-3-3-3-3 > .col {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 1200px) {
    .row--xxxl-6-6 > .col {
      flex: 0 0 50%;
      max-width: 50%; }
    .row--xxxl-4-4-4 > .col {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row--xxxl-3-3-3-3 > .col {
      flex: 0 0 25%;
      max-width: 25%; } }
  .row > .col {
    padding-top: 1.44rem;
    padding-left: 1.44rem; }
  @media (min-width: 650px) {
    .row {
      margin-top: -2.0736rem;
      margin-left: -2.0736rem; }
      .row > .col {
        padding-top: 2.0736rem;
        padding-left: 2.0736rem; } }
  .row--gutters-sm {
    margin-top: -1rem;
    margin-left: -1rem; }
    .row--gutters-sm > .col {
      padding-top: 1rem;
      padding-left: 1rem; }
    @media (min-width: 650px) {
      .row--gutters-sm {
        margin-top: -1.44rem;
        margin-left: -1.44rem; }
        .row--gutters-sm > .col {
          padding-top: 1.44rem;
          padding-left: 1.44rem; } }
  .row--gutters-lg {
    margin-top: -2.0736rem;
    margin-left: -2.0736rem; }
    .row--gutters-lg > .col {
      padding-top: 2.0736rem;
      padding-left: 2.0736rem; }
    @media (min-width: 650px) {
      .row--gutters-lg {
        margin-top: -2.985984rem;
        margin-left: -2.985984rem; }
        .row--gutters-lg > .col {
          padding-top: 2.985984rem;
          padding-left: 2.985984rem; } }
  .row--gutters-xl {
    margin-top: -2.985984rem;
    margin-left: -2.985984rem; }
    .row--gutters-xl > .col {
      padding-top: 2.985984rem;
      padding-left: 2.985984rem; }
    @media (min-width: 650px) {
      .row--gutters-xl {
        margin-top: -4.29981696rem;
        margin-left: -4.29981696rem; }
        .row--gutters-xl > .col {
          padding-top: 4.29981696rem;
          padding-left: 4.29981696rem; } }
  .row--no-gutters {
    margin-top: 0;
    margin-left: 0; }
    .row--no-gutters > .col {
      padding-top: 0;
      padding-left: 0; }
  .row .col--top {
    align-self: flex-start; }
  .row .col--middle {
    align-self: center; }
  .row .col--bottom {
    align-self: flex-end; }
  .row .col--auto {
    flex: 1 1 auto; }
  @media (min-width: 650px) {
    .row .col--3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col--4 {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row .col--5 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .col--6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col--7 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .col--8 {
      flex: 0 0 66.66%;
      max-width: 66.66%; }
    .row .col--9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col--12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 330px) {
    .row .col--sm-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col--sm-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row .col--sm-5 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .col--sm-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col--sm-7 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .col--sm-8 {
      flex: 0 0 66.66%;
      max-width: 66.66%; }
    .row .col--sm-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col--sm-12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 450px) {
    .row .col--md-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col--md-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row .col--md-5 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .col--md-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col--md-7 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .col--md-8 {
      flex: 0 0 66.66%;
      max-width: 66.66%; }
    .row .col--md-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col--md-12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 650px) {
    .row .col--lg-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col--lg-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row .col--lg-5 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .col--lg-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col--lg-7 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .col--lg-8 {
      flex: 0 0 66.66%;
      max-width: 66.66%; }
    .row .col--lg-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col--lg-12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 800px) {
    .row .col--xl-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col--xl-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row .col--xl-5 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .col--xl-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col--xl-7 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .col--xl-8 {
      flex: 0 0 66.66%;
      max-width: 66.66%; }
    .row .col--xl-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col--xl-12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 970px) {
    .row .col--xxl-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col--xxl-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row .col--xxl-5 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .col--xxl-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col--xxl-7 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .col--xxl-8 {
      flex: 0 0 66.66%;
      max-width: 66.66%; }
    .row .col--xxl-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col--xxl-12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .row .col--xxxl-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .col--xxxl-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%; }
    .row .col--xxxl-5 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .col--xxxl-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .col--xxxl-7 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .col--xxxl-8 {
      flex: 0 0 66.66%;
      max-width: 66.66%; }
    .row .col--xxxl-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .col--xxxl-12 {
      flex: 0 0 100%;
      max-width: 100%; } }

.width {
  margin-right: auto;
  margin-left: auto; }
  .width--xxs {
    max-width: 110px; }
  .width--xs {
    max-width: 165px; }
  .width--sm {
    max-width: 330px; }
  .width--md {
    max-width: 450px; }
  .width--lg {
    max-width: 650px; }
  .width--xl {
    max-width: 800px; }
  .width--xxl {
    max-width: 970px; }

.bob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.44rem;
  margin-left: -1.44rem; }
  @media (min-width: 970px) {
    .bob {
      flex-direction: row; }
      .bob--swap {
        flex-direction: row-reverse; } }
  .bob > .bob__img, .bob > .bob__text {
    padding-top: 1.44rem;
    padding-left: 1.44rem; }
  @media (min-width: 970px) {
    .bob {
      margin-top: -2.0736rem;
      margin-left: -2.0736rem; }
      .bob > .bob__img, .bob > .bob__text {
        padding-top: 2.0736rem;
        padding-left: 2.0736rem; } }
  .bob__text, .bob__img {
    width: 100%;
    max-width: 650px; }
    @media (min-width: 970px) {
      .bob__text, .bob__img {
        width: 60%;
        max-width: none; } }
  @media (min-width: 970px) {
    .bob__text {
      width: 40%; } }
  .bob__text--center {
    text-align: center; }
    @media (min-width: 970px) {
      .bob__text--center {
        text-align: left; } }

.harvey {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 970px) {
    .harvey {
      flex-direction: row; }
      .harvey--swap {
        flex-direction: row-reverse; } }
  .harvey__text, .harvey__img {
    width: 100%; }
    @media (min-width: 970px) {
      .harvey__text, .harvey__img {
        width: 50%; } }
  .harvey__text {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.728rem;
    padding-bottom: 3.5831808rem;
    padding-left: 1.44rem;
    padding-right: 1.44rem; }
    @media (min-width: 970px) {
      .harvey__text {
        padding-top: 7.4300837069rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-bottom: 7.4300837069rem; } }
  .harvey__img {
    position: relative;
    align-self: stretch;
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (min-width: 450px) {
      .harvey__img {
        padding-top: 66.66%; } }
    @media (min-width: 970px) {
      .harvey__img {
        padding-top: 0; } }
  .harvey__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: 54px;
  min-height: 54px; }
  @media (min-width: 450px) {
    .site-header {
      height: 70px;
      min-height: 70px; } }
  .site-header__offset:before {
    content: '';
    display: block;
    height: 54px;
    min-height: 54px; }
    @media (min-width: 450px) {
      .site-header__offset:before {
        height: 70px;
        min-height: 70px; } }

.core-nav {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #dadcdf;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75); }
  .core-nav .logo + .logo {
    margin-left: 1rem; }
  @media (min-width: md) {
    .core-nav {
      padding-left: 1.44rem;
      padding-right: 1.44rem; } }
  .core-nav__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .core-nav__left {
    display: flex;
    align-items: center;
    width: 25%;
    min-width: 54px; }
    @media (min-width: 600px) {
      .core-nav__left {
        width: 33.33%; } }
    @media (min-width: 1015px) {
      .core-nav__left {
        display: none; } }
  .core-nav__center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; }
    @media (min-width: 600px) {
      .core-nav__center {
        width: 33.33%;
        flex-grow: 3; } }
    @media (min-width: 1015px) {
      .core-nav__center {
        width: 66.66%;
        justify-content: flex-start; } }
  .core-nav__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    min-width: 54px;
    visibility: hidden; }
    @media (min-width: 600px) {
      .core-nav__right {
        width: 33.33%;
        visibility: visible; } }
  .core-nav__list {
    display: none;
    margin-left: 0.8rem;
    line-height: 0; }
    @media (min-width: 1015px) {
      .core-nav__list {
        display: block; } }
    .core-nav__list-link {
      display: inline-block;
      padding: 0.8rem 0.4096rem;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 0;
      transition: all 0.25s ease; }
      .core-nav__list-link:hover, .core-nav__list-link.is-current {
        color: #ff8c00; }

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 25;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #dadcdf;
  overflow-y: auto;
  background-color: rgba(46, 46, 46, 0.9);
  transition: all 0.25s ease; }
  .mobile-nav .logo {
    margin: 0.64rem; }
  .mobile-nav.is-closed {
    left: -75%;
    visibility: hidden;
    opacity: 0; }
  .mobile-nav.is-open {
    left: 0;
    visibility: visible;
    opacity: 1; }
  .mobile-nav__wrap {
    padding-left: 1rem;
    padding-right: 1rem; }
    @media (min-width: md) {
      .mobile-nav__wrap {
        padding-left: 1.44rem;
        padding-right: 1.44rem; } }
  .mobile-nav__top {
    display: flex;
    align-items: center;
    height: 54px;
    min-height: 54px; }
    @media (min-width: 450px) {
      .mobile-nav__top {
        height: 70px;
        min-height: 70px; } }
  .mobile-nav__middle {
    flex-grow: 1; }
  .mobile-nav__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100px;
    padding: 1rem;
    margin-top: 1.44rem;
    background: rgba(46, 46, 46, 0.85); }
    @media (min-width: 600px) {
      .mobile-nav__bottom {
        display: none; } }
  .mobile-nav__list-link {
    transition: all 0.25s ease;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase; }
    .mobile-nav__list-link + .mobile-nav__list-link {
      border-top: 1px solid rgba(0, 0, 0, 0.33); }
    .mobile-nav__list-link.is-current {
      color: #ff8c00; }
  @media (min-width: 1015px) {
    .mobile-nav {
      display: none; } }

.site-nav {
  position: relative;
  background-color: rgba(233, 21, 44, 0.85);
  text-align: center; }
  .site-nav__offset:before {
    content: '';
    display: block;
    height: 60px;
    min-height: 60px; }
    @media (min-width: 450px) {
      .site-nav__offset:before {
        height: 70px;
        min-height: 70px; } }
  .site-nav:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    width: 60px;
    background-image: url("../img/icons/nav-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px auto;
    height: 60px;
    min-height: 60px; }
    @media (min-width: 450px) {
      .site-nav:before {
        height: 70px;
        min-height: 70px; } }
    @media (min-width: 450px) {
      .site-nav:before {
        width: 70px;
        background-size: 70px auto; } }
    @media (min-width: 1150px) {
      .site-nav:before {
        display: none; } }
  .site-nav__scroll-wrap {
    overflow-x: auto;
    overflow-y: hidden; }
    @media (min-width: 1150px) {
      .site-nav__scroll-wrap {
        overflow: visible; } }
  .site-nav__wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    min-height: 60px; }
    @media (min-width: 450px) {
      .site-nav__wrap {
        height: 70px;
        min-height: 70px; } }
    .site-nav__wrap:after {
      content: '';
      min-width: 60px; }
      @media (min-width: 450px) {
        .site-nav__wrap:after {
          min-width: 23.3333333333px; } }
      @media (min-width: 1150px) {
        .site-nav__wrap:after {
          display: none; } }
  .site-nav__item {
    display: flex;
    flex: 1 0 auto; }
    .site-nav__item:last-child {
      border-right: 0; }
  .site-nav__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding-left: 2.0736rem;
    padding-right: 2.0736rem;
    font-family: "brother-1816", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #fff;
    transition: background-color 0.25s ease;
    white-space: nowrap; }
    .site-nav__link.is-current {
      color: #fff;
      background-color: #b9091f;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); }
    .no-touch .site-nav__link:hover {
      color: #fff;
      background-color: #b9091f; }
    @media (min-width: 1150px) {
      .site-nav__link {
        padding-left: 1rem;
        padding-right: 1rem; } }
  .site-nav.is-stuck {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 15; }

.group-nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 15;
  display: none;
  justify-content: space-between;
  height: 224px;
  width: 100%;
  background-color: rgba(214, 96, 0, 0.8);
  transition: all 0.25s ease;
  transform: scaleY(0);
  transform-origin: top center; }
  @media (min-width: 1150px) {
    .no-touch .group-nav {
      display: flex; }
    .site-nav__item:hover .group-nav {
      transform: scaleY(1); } }
  .group-nav__item {
    display: flex;
    flex-grow: 1;
    flex-basis: 0; }
  .group-nav__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #fff;
    transition: all 0.25s ease; }
    .group-nav__link.is-current {
      background-color: rgba(214, 96, 0, 0.66); }
    .no-touch .group-nav__link:hover {
      background-color: #d66000; }

.site-nav--footer {
  background-color: rgba(29, 29, 27, 0.95); }
  .site-nav--footer:before {
    background-image: url("../img/icons/nav-arrow-footer.svg"); }
.site-nav--footer .site-nav__link {
  color: #fff; }
  .site-nav--footer .site-nav__link.is-current {
    background-color: #1d1d1b; }
  .no-touch .site-nav--footer .site-nav__link:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75); }

.site-footer {
  position: relative;
  background-color: #fff; }
  .site-footer__wrap {
    padding-left: 1.44rem;
    padding-right: 1.44rem;
    padding-top: 4.29981696rem;
    padding-bottom: 4.29981696rem;
    color: #dadcdf;
    font-weight: 400;
    text-align: center;
    background-color: #1d1d1b; }
    @media (min-width: 450px) {
      .site-footer__wrap {
        padding-left: 2.0736rem;
        padding-right: 2.0736rem; } }
  .site-footer .logo {
    margin: 0.64rem; }

.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  max-height: 700px;
  color: #fff;
  background-color: #74787d; }
  @media (min-width: 650px) {
    .banner {
      height: 100%;
      min-height: 650px;
      max-height: none; } }
  .banner__wrap {
    position: relative;
    z-index: 5;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-left: 1.44rem;
    padding-right: 1.44rem; }
    @media (min-width: 450px) {
      .banner__wrap {
        padding-left: 2.0736rem;
        padding-right: 2.0736rem; } }
  .banner__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #47484a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .banner__nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 15; }
    .banner__nav--top {
      top: 0;
      bottom: auto; }

.offer-promo {
  position: relative;
  color: #fff;
  background-color: #2e2e2e;
  text-align: center;
  font-weight: 400; }
  .offer-promo__bgs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }
    .offer-promo__bgs:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      background-color: rgba(46, 46, 46, 0.75); }
  .offer-promo__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .offer-promo__bg:nth-of-type(1) {
      left: 0;
      display: block; }
    @media (min-width: 650px) {
      .offer-promo__bg {
        width: 33.33%; }
        .offer-promo__bg:nth-of-type(2) {
          display: block;
          left: 33.33%; }
        .offer-promo__bg:nth-of-type(3) {
          display: block;
          left: 66.66%; } }
  .offer-promo__content {
    position: relative;
    z-index: 10; }

.logo {
  display: inline-block;
  width: 100%; }
  .logo--se {
    max-width: 140px;
    padding-top: 3px; }
    @media (min-width: 450px) {
      .logo--se {
        max-width: 170px;
        padding-top: 4px; } }
    .logo--se-sm {
      max-width: 120px;
      padding-top: 2px; }
  .logo--partner {
    max-width: 180px; }
    .logo--partner-sm {
      max-width: 120px; }

.icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px; }
  .icon--menu {
    background-image: url("../img/icons/menu.svg"); }
  .icon--close {
    background-image: url("../img/icons/close.svg"); }
  @media (min-width: 450px) {
    .icon {
      height: 24px;
      width: 24px;
      background-size: 24px; } }

.bg--white {
  background-color: #fff; }
.bg--light {
  background-color: #f1f1f1; }
.bg--bv-blue {
  background-color: #0058a5; }
.bg--bv-beige {
  background-color: #baa36c; }
.bg--bv-yellow {
  background-color: #ffce32; }
.bg--bv-red {
  background-color: #e9152c; }
.bg--bv-green {
  background-color: #00a75d; }
.bg--bv-black {
  background-color: #000; }
.bg--dark {
  background-color: #47484a; }
.bg--img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
.bg__fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2e2e; }

.btn {
  font-family: "brother-1816", "Helvetica Neue", sans-serif;
  position: relative;
  display: inline-block;
  padding: 1.44rem 2.48832rem;
  color: #fff;
  font-weight: 700;
  font-size: 0.96rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.33;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.25s ease; }
  .btn--sm {
    padding: 1.2rem 2.0736rem;
    font-size: 0.64rem; }
  .btn--lg {
    padding: 1.728rem 4.29981696rem;
    font-size: 0.8rem; }
  .btn--orange {
    background-color: #ff8c00; }
    .btn--orange:hover {
      background-color: #e67812; }
  .btn--bv-blue {
    background-color: #0058a5;
    font-size: 13px; }
    .btn--bv-blue:hover {
      background-color: #0058a5; }
  .btn--bv-yellow {
    background-color: #ffce32;
    color: #000; }
    .btn--bv-yellow:hover {
      background-color: #ffce32; }
  .btn--bv-red {
    background-color: #e9152c;
    font-size: 12px;
    border-radius: 0px;
    padding: 1.44rem 2.48832rem 1.2rem;
    border-bottom: 3px solid #b9091f; }
    .btn--bv-red:hover {
      background-color: #b9091f; }
  .btn--bv-green {
    background-color: #00a75d; }
    .btn--bv-green:hover {
      background-color: #00a75d; }
  .btn--outline {
    color: inherit; }
    .btn--outline:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 1px;
      border-style: solid;
      border-radius: inherit;
      transition: all 0.25s ease; }
  .btn--outline-blue {
    border: 1px solid #0058a5;
    color: #0058a5; }
    .btn--outline-blue:hover {
      background-color: #0058a5;
      color: #fff; }
  .btn--outline-orange:before {
    border-color: #ff8c00; }
  .btn--outline-orange:hover {
    background-color: #ff8c00; }
    .btn--outline-orange:hover:before {
      border-color: #ff8c00; }

.bg-img {
  display: block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .bg-img:before {
    content: '';
    display: block;
    width: 100%; }
  .bg-img--2-3:before {
    padding-top: 133.333333333334%; }
  .bg-img--1-1:before {
    padding-top: 100%; }
  .bg-img--travel:before {
    padding-top: 84%; }
  .bg-img--4-3:before {
    padding-top: 75%; }
  .bg-img--3-2:before {
    padding-top: 66.666666666667%; }
  .bg-img--16-9:before {
    padding-top: 56.25%; }
  .bg-img--21-9:before {
    padding-top: 42.8571429%; }
  .bg-img--circle {
    padding-top: 100%;
    border-radius: 9999999em; }

@media (min-width: 330px) {
  .bg-img--sm-2-3:before {
    padding-top: 133.333333333334%; }
  .bg-img--sm-1-1:before {
    padding-top: 100%; }
  .bg-img--sm-travel:before {
    padding-top: 84%; }
  .bg-img--sm-4-3:before {
    padding-top: 75%; }
  .bg-img--sm-3-2:before {
    padding-top: 66.666666666667%; }
  .bg-img--sm-16-9:before {
    padding-top: 56.25%; }
  .bg-img--sm-21-9:before {
    padding-top: 42.8571429%; }
  .bg-img--sm-circle {
    padding-top: 100%;
    border-radius: 9999999em; } }
@media (min-width: 450px) {
  .bg-img--md-2-3:before {
    padding-top: 133.333333333334%; }
  .bg-img--md-1-1:before {
    padding-top: 100%; }
  .bg-img--md-travel:before {
    padding-top: 84%; }
  .bg-img--md-4-3:before {
    padding-top: 75%; }
  .bg-img--md-3-2:before {
    padding-top: 66.666666666667%; }
  .bg-img--md-16-9:before {
    padding-top: 56.25%; }
  .bg-img--md-21-9:before {
    padding-top: 42.8571429%; }
  .bg-img--md-circle {
    padding-top: 100%;
    border-radius: 9999999em; } }
@media (min-width: 650px) {
  .bg-img--lg-2-3:before {
    padding-top: 133.333333333334%; }
  .bg-img--lg-1-1:before {
    padding-top: 100%; }
  .bg-img--lg-travel:before {
    padding-top: 84%; }
  .bg-img--lg-4-3:before {
    padding-top: 75%; }
  .bg-img--lg-3-2:before {
    padding-top: 66.666666666667%; }
  .bg-img--lg-16-9:before {
    padding-top: 56.25%; }
  .bg-img--lg-21-9:before {
    padding-top: 42.8571429%; }
  .bg-img--lg-circle {
    padding-top: 100%;
    border-radius: 9999999em; } }
@media (min-width: 800px) {
  .bg-img--xl-2-3:before {
    padding-top: 133.333333333334%; }
  .bg-img--xl-1-1:before {
    padding-top: 100%; }
  .bg-img--xl-travel:before {
    padding-top: 84%; }
  .bg-img--xl-4-3:before {
    padding-top: 75%; }
  .bg-img--xl-3-2:before {
    padding-top: 66.666666666667%; }
  .bg-img--xl-16-9:before {
    padding-top: 56.25%; }
  .bg-img--xl-21-9:before {
    padding-top: 42.8571429%; }
  .bg-img--xl-circle {
    padding-top: 100%;
    border-radius: 9999999em; } }
@media (min-width: 970px) {
  .bg-img--xxl-2-3:before {
    padding-top: 133.333333333334%; }
  .bg-img--xxl-1-1:before {
    padding-top: 100%; }
  .bg-img--xxl-travel:before {
    padding-top: 84%; }
  .bg-img--xxl-4-3:before {
    padding-top: 75%; }
  .bg-img--xxl-3-2:before {
    padding-top: 66.666666666667%; }
  .bg-img--xxl-16-9:before {
    padding-top: 56.25%; }
  .bg-img--xxl-21-9:before {
    padding-top: 42.8571429%; }
  .bg-img--xxl-circle {
    padding-top: 100%;
    border-radius: 9999999em; } }
@media (min-width: 1200px) {
  .bg-img--xxxl-2-3:before {
    padding-top: 133.333333333334%; }
  .bg-img--xxxl-1-1:before {
    padding-top: 100%; }
  .bg-img--xxxl-travel:before {
    padding-top: 84%; }
  .bg-img--xxxl-4-3:before {
    padding-top: 75%; }
  .bg-img--xxxl-3-2:before {
    padding-top: 66.666666666667%; }
  .bg-img--xxxl-16-9:before {
    padding-top: 56.25%; }
  .bg-img--xxxl-21-9:before {
    padding-top: 42.8571429%; }
  .bg-img--xxxl-circle {
    padding-top: 100%;
    border-radius: 9999999em; } }

.bg-img {
  background-color: #47484a;
  transition: all 0.25s ease; }
  .bg-img__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer; }
  .bg-img__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding-left: 1.44rem;
    padding-right: 1.44rem; }
    @media (min-width: 450px) {
      .bg-img__content {
        padding-left: 2.0736rem;
        padding-right: 2.0736rem; } }
  .bg-img__bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.25s ease; }
  .bg-img:hover .bg-img__bg-overlay {
    background-color: rgba(0, 0, 0, 0.6); }

.offer {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }
  .offer__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: transparent;
    color: transparent;
    transition: all 0.25s ease; }
    .offer__link:hover {
      opacity: 1;
      background-color: rgba(29, 29, 27, 0.33);
      color: #fff; }
      .touch .offer__link:hover {
        opacity: 0; }
  .offer__content {
    padding: 1.728rem;
    /*border-left: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;*/
    border-bottom: 2px solid #dadcdf;
    background-color: #fff; }
  .offer__location {
    margin-top: .9em;
    margin-left: 1.5em;
    margin-bottom: .8em;
    text-indent: -1.5em;
    font-size: 0.8em;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #74787d; }
    .offer__location:before {
      content: "";
      display: inline-block;
      height: 1.5em;
      width: 1.05em;
      margin-right: .5em;
      margin-bottom: .2em;
      vertical-align: middle;
      background-image: url("../img/icons/map-pin.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain; }
  .offer__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.44rem; }
    .offer__bottom-right {
      margin-left: auto;
      align-self: flex-end; }
    .offer__bottom-left {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 600px;
      margin-right: auto; }
  .offer__arrow {
    display: none;
    width: 3.4rem;
    height: 3.4rem;
    min-width: 3.4rem;
    min-height: 3.4rem;
    margin-left: 0.512rem;
    border: 1px solid #e9152c;
    border-radius: 3.4rem;
    background-repeat: no-repeat;
    background-image: url("../img/icons/arrow-right-orange.svg");
    background-size: auto 1.5111111111rem;
    background-position: 52% center; }
  .offer__saved {
    display: inline-block;
    text-align: center; }
    .offer__saved-percent {
      display: inline-block;
      width: 3.4rem;
      height: 3.4rem;
      margin-left: 0.262144rem;
      padding-top: 0.25rem;
      text-align: center;
      color: #fff;
      font-size: 1.728rem;
      letter-spacing: -.1rem;
      background-color: #e9152c;
      border-radius: 3.4rem; }
  .offer__details {
    display: inline-block; }
  .offer__separator {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    max-width: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #dadcdf; }
  .offer__price {
    color: #e9152c;
    font-size: 1.44rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0; }
  @media (min-width: 330px) {
    .offer__arrow {
      display: block; } }
  @media (min-width: 450px) {
    .offer__bottom-right {
      align-self: center; }
    .offer__saved {
      min-width: 130px; }
    .offer__saved-label {
      display: inline-block; } }
  .offer.offer--dark .offer__content {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #282825; }
  .offer.offer--dark .offer__separator {
    background-color: #47484a; }
  .offer.offer--dark .offer__location {
    color: #dadcdf; }
  .offer.offer--dark .offer__content .core-title {
    color: #fff; }

.modal {
  position: relative;
  margin-top: 4.5em;
  margin-bottom: 4.5em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  cursor: auto; }
  .modal.is-open {
    display: block; }
  .modal.is-closed {
    display: none; }
  .modal__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-bottom: 18em; }
  .modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 25;
    background-color: rgba(46, 46, 46, 0.9);
    cursor: pointer;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
    .modal__bg.is-open {
      display: block; }
    .modal__bg.is-closed {
      display: none; }
  .modal__content {
    color: #47484a;
    background-color: #fff;
    padding: 1.44rem 1.728rem; }
  .modal__close {
    position: absolute;
    right: 0;
    top: -3em;
    height: 3em;
    width: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/icons/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    z-index: 30;
    transition: background-color 0.25s ease; }
    .modal__close:hover {
      background-color: #000; }
  .modal__nav {
    position: fixed;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: .75em;
    cursor: pointer;
    transition: background-color 0.25s ease; }
    .modal__nav--next {
      right: 0;
      background-image: url("../img/icons/arrow-right.svg");
      border-left: 1px solid rgba(255, 255, 255, 0.5); }
    .modal__nav--previous {
      left: 0;
      background-image: url("../img/icons/arrow-left.svg"); }
    @media (min-width: 450px) {
      .modal__nav {
        position: absolute;
        z-index: 30;
        top: 50%;
        width: 3em;
        height: 6em;
        margin-top: -3em;
        background-color: rgba(0, 0, 0, 0.5);
        background-size: 1em; }
        .modal__nav--previous {
          left: -3em; }
        .modal__nav--next {
          right: -3em;
          border-left: 0; }
        .modal__nav:hover {
          background-color: #000; } }
  .modal--standard {
    max-width: 800px; }
  .modal--series {
    max-width: 800px; }
  .modal--image {
    max-width: 970px; }
  .modal--youtube {
    width: 100%;
    max-width: 1200px; }
    .modal--youtube .video__wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 0;
      width: 100%;
      padding-bottom: 56.25%;
      background-color: #000; }
    .modal--youtube .video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }
  @media (min-width: 450px) {
    .modal {
      margin-left: 3em;
      margin-right: 3em; }
      .modal__wrap {
        margin-bottom: 0; } }
  @media (min-width: 650px) {
    .modal__content {
      padding: 2.0736rem 2.985984rem; } }

.disable-scroll {
  overflow: hidden; }

/* ==========================================================================
   Dividers & Alignment
   ========================================================================== */
.bv-title-divider::after {
  content: url(../img/icons/divider-w.svg);
  display: block;
  margin-top: 18px;
  margin-bottom: -2px;
  transform: scale(0.8); }
  @media (min-width: 330px) {
    .bv-title-divider::after {
      content: url(../img/icons/divider-w.svg);
      display: block;
      margin-top: 10px;
      transform: scale(0.8); } }
  @media (min-width: 450px) {
    .bv-title-divider::after {
      content: url(../img/icons/divider-w.svg);
      display: block;
      margin-top: 18px;
      transform: scale(0.8); } }
  @media (min-width: 800px) {
    .bv-title-divider::after {
      content: url(../img/icons/divider-w.svg);
      display: block;
      margin-top: -15px;
      transform: scale(0.45); } }

.bv-dividerline {
  border-bottom: 1px solid rgba(71, 72, 74, 0.2); }

.bv-headline-divider::after {
  content: "....";
  display: block;
  color: #0058a5;
  font-size: 3.5831808rem;
  letter-spacing: -5px;
  margin: -35px 0 -2px 0px; }

.bv-lineheight {
  line-height: 1.2em; }

.bv-mob-left {
  text-align: center; }

@media only screen and (max-width: 768px) {
  .bv-mob-left {
    text-align: left; } }
.bv-mob-center {
  text-align: left; }

@media only screen and (max-width: 799px) {
  .bv-mob-center {
    text-align: center;
    margin-left: 0; } }
/* ==========================================================================
   Initial Letter
========================================================================== */
@supports (not (initial-letter: 5)) and (not (-webkit-initial-letter: 5)) {
  .bv-subhead::first-letter {
    font-size: 6.21rem;
    float: left;
    line-height: .7;
    margin: 9px 15px 5px -3px; } }
@supports (initial-letter: 5) or (-webkit-initial-letter: 5) {
  .bv-subhead:nth-of-type(1)::first-letter {
    -webkit-initial-letter: 3;
    initial-letter: 3; } }
.bv-subhead::first-letter {
  font-family: "phaistos", serif; }

/* ==========================================================================
   Parallax
   ========================================================================== */
.bv-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

@media only screen and (max-width: 1024px) {
  .bv-remove-bg {
    background-image: none !important; }
    .bv-remove-bg--blue {
      background-image: none !important;
      background-color: #0058a5; }

  .bv-parallax {
    background-attachment: scroll;
    background-size: cover; } }
/* ==========================================================================
 Collapsible
========================================================================== */
.bv-mob-show {
  display: inline; }
  @media (min-width: 970px) {
    .bv-mob-show {
      display: none; } }

.bv-mob-hide {
  display: none; }
  @media (min-width: 970px) {
    .bv-mob-hide {
      display: block; } }

@media only screen and (max-width: 970px) {
  .bv-collapsible {
    cursor: pointer; }

  .bv-collapsible:after {
    content: ' ansehen '; }

  .bv-active:after {
    content: ' schliessen '; }

  .bv-content {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 2.0736rem;
    transition: all 0.5s ease-out; } }
/* ==========================================================================
Insidertipps
========================================================================== */
.bv-img-insider {
  width: 60%;
  max-width: 650px;
  padding-left: 1.728rem; }
  @media (min-width: 800px) {
    .bv-img-insider {
      width: 25%;
      max-width: none;
      padding-left: 1.728rem; } }

.bv-img-circle {
  border-radius: 500px; }

.bv-linehight {
  line-height: 1.8rem; }

.bv-border {
  border-bottom: 5px solid #f0ff0f; }
  .bv-border:last-child {
    border-bottom: 0px; }

.bv-btn-up {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 3.4rem;
  height: 3.4rem;
  min-width: 3.4rem;
  min-height: 3.4rem;
  border-radius: 3.4rem;
  background-repeat: no-repeat;
  border: 2px solid #0058a5;
  background-image: url("../img/icons/arrow-left.svg");
  background-size: auto 1.7rem;
  background-position: 48% center;
  transform: rotate(90deg); }

/* ==========================================================================
Flight tag - Offers
========================================================================== */
.flight-tag {
  position: absolute;
  top: 0.64rem;
  left: 0.64rem;
  display: block;
  width: 50%; }
  @media (min-width: 330px) {
    .flight-tag {
      top: 1rem;
      left: 1rem;
      width: 146px; } }
