---
layout: default
---


<div class=" vpad--xxl {{page.colour}} " >
  <div class="container">
    <div class="width width--lg  text--left  " >

       <div class="text text--xl ">{{page.intro}}</div>
    </div>
  </div>
</div>



<div class="space--xxl ">

{% for section in site.data[page.id] %}
<div class="container bg--white" style="border-bottom: 8px solid #f2f5f7">
  <div class="row row--3-3-3-3 row--gutters ">

    <div class="col--lg--3 col--top bv-img-insider boxpad--lg">
      <div class="bg-img bg-img--1-1 bv-img-circle " style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.img}}.jpg'); margin-top:0px; " ></div>
    </div>
    <div class="col col--9 bv-mob-center boxpad--lg" style="margin-top:-15px;">
      <div class="space--md"></div>
      <h3 class=" title title--xl ">{{section.title}}</h3>
        <div class="space--sm"></div>
      <div class=" text text--xxxl text ">{{section.location}}</div>
      <div class="space--md"></div>
      <div class="space--xs"></div>

      <div class="bv-content text  text--xxl text--left" >
        <div class="space--md"></div>
        {% for tips in section.tips.items %}
          <h3 class=" text text--xxl text--bold  ">{{tips.question}}?</h3>
          <div class=" text text--xxl  ">{{tips.answer}}</div>
          <div class="space--md"></div>

        {% endfor %}


        <div class="space--md"></div>
      </div>

      <a class="btn btn--i-blue bv-collapsible " >Tipps</a>

    </div>

  </div>
  <div class="space--md"></div><div class="space--sm"></div>
</div>

<div class="space--xxl"></div>
  {% endfor %}
